@page
@model RHStaging.Pages.Owners.DetailsModel

@{
    ViewData["Title"] = "Owner Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.MemberSince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.MemberSince)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Leases)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Property Address</th>
                    <th>City</th>
                    <th>Monthly Rent</th>
                </tr>
                @foreach (var item in Model.Owner.Properties)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lease.Monthly_rent)
                        </td>
                    </tr>
                }
            </table>
        </dd>



    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Owner?.OwnerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
