@page
@model RHStaging.Pages.Owners.IndexModel

@{
    ViewData["Title"] = "Owners";
}

<h1>Property Owners</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@* method 'get' in the form tag caused the query string to be generated, thus URL can be bookmarked *@
<form asp-page="./Index" method="get">  
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Owners[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owners[0].FirstMidName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Owners[0].MemberSince)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Owners) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberSince)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OwnerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OwnerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OwnerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.Owners.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Owners.HasNextPage ? "disabled" : ""; 
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Owners.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Owners.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
