@page
@model RHStaging.Pages.AboutModel

@{
    ViewData["Title"] = "Leases Schedule";
}

<h2>Leases Schedule</h2>

<table>
    <tr>
        <th>
            Lease End 
        </th>
        <th>
            Properties ID
        </th>
        <th>
            #Properties
        </th>
        <th> </th> <!-- Empty cell for spacing -->
        <th>
            Lease ID
        </th>
    </tr>

    @foreach (var item in Model.Properties)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaseEndDate)
            </td>
            <td>
                @foreach (var propID in item.PropertyIDList)
                {
                    <a class="menu-link custom-link" asp-area="" asp-page="/Properties/Details" asp-route-id="@propID">@Html.DisplayFor(modelItem => propID)</a>
                    @:&nbsp; <!-- Adding a non-breaking space -->
                }
            </td>            
            <td>
                @item.PropertyCount
            </td>
            <td> </td> <!-- Empty cell for spacing -->
            <td>
                @foreach (var leaseID in item.LeaseIDList)
                {
                    <a class="menu-link custom-link" asp-page="/Leases/Details" asp-route-id="@leaseID">@Html.DisplayFor(modelItem => leaseID)</a>                    
                    @:&nbsp; <!-- Adding a non-breaking space -->
                }
            </td>
        </tr>
    }
</table>